.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    .content {
        width: 40%;
        height: 100%;
        background-image: url('/assets/img/background.jpg');
        background-size: cover;
        .blur {
            width: 100%;
            height: 100%;
            background: rgba(#F2F2F2, .5);
            backdrop-filter: blur(70px);
            display: flex;
            justify-content: center;
            align-items: center;
            .container {
                width: 80%;
            }
        }
    }
    .grid_container {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--third-color);
        .grid {
            width: 80%;
            height: 80%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 5vh;
            grid-row-gap: 5vh;
            div {
                width: 100%;
                height: 100%;
                border: 4px solid var(--primary-color);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    height: 5vh;
                    filter: invert(100%) sepia(0%) saturate(6480%) hue-rotate(193deg) brightness(120%) contrast(90%);
                }
                h3 {
                    color: var(--primary-color);
                    padding: 5vh 0 1vh 0;
                }
                p {
                    width: 90%;
                    color: var(--primary-color);
                    text-align: center;
                    font-size: .5rem;
                    line-height: .65rem;
                }
        // &:first-of-type {
        //     grid-area: 1 / 1 / 2 / 2;
            
        // }
        // &:nth-of-type(2) {
        //     grid-area: 2 / 2 / 3 / 3;
        // }
        // &:last-of-type {
        //     grid-area: 1 / 3 / 2 / 4;
        // }
    }
        }
    }
}