.wrapper {
  width: 100%;
  display: flex;
  padding: 15vh 0 15vh 0;
  .container {
    width: 90%;
    margin: 0 auto;
    .title {
      width: 100%;
      h1 {
        width: 70%;
        font-size: var(--big-title);
        line-height: 2.5rem;
      }
    }
    .steps {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10vh 0 0 0;
      .card {
        width: 30%;
        background: rgba(146, 10, 146, 0.1);
        padding: 5vh 2vw 5vh 2vw;
        border-radius: 20px;
        transition: all ease .5s;
        h2 {
          padding: 2vh 0 2vh 0;
        }
        h2,
        p {
          font-size: 0.5rem;
          line-height: 0.65rem;
        }
        &:hover {
          background: rgba(255, 255, 255, .5);

        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    .container {
      .title {
        h1 {
          width: 100%;
          padding-bottom: 2vh;
        }
      }
      .steps {
        flex-direction: column;
        .card {
          padding: 5vh 6vw 5vh 6vw;
          width: 100%;
          margin-bottom: 2vh;
          h2,p {
            font-size: initial;
            line-height: 2rem;
          }
        }
      }
    }
  }
}