.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        height: 70%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr) .5fr repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr) .5fr;
grid-column-gap: 1vw;
grid-row-gap: 1vw;
    }
    .main, .second, .third {
        width: 100%;
        height: 100%;
        background: rgba(146, 10, 146, .1);
        border-radius: 20px;
        transition: all ease .5s;
        display: flex;
        .title {
            z-index: 1;
            width: 90%;
            padding-bottom: 5vh;
            h1 {
                padding-bottom: 1vh;
                text-transform: uppercase;
                font-size: var(--big-title);
            }
            p {
                color: var(--third-color);
                font-size: .4rem;
            }
        }
        &:hover {
            transform: scale(.95);
        }
    }
    .second, .third {
        &:hover {
            background: rgba(255, 255, 255, .5);
        }
        
    }
    .main {
        background-image: url('https://i.pinimg.com/originals/55/9a/bd/559abdca8184e3d15245fca6422bc502.gif');
        background-size: 250%;
        background-position: center;
        grid-area: 1 / 1 / 7 / 6;
        justify-content: center;
        position: relative;
        overflow: hidden;
        .filter {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(253,187,45,0) 40%);
            z-index: 0;
        }
        .title {
            align-self: flex-end;
        }
        &:hover {
            background-size: 100%;
        }
    }
    .second {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .ill_wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .ill {
                width: 30vh;
                height: 30vh;
                border-radius: 50%;
                background-image: url('https://64.media.tumblr.com/32dcf285301378c5113a57815c09ae68/tumblr_p8zannj3Ml1wxdq3zo1_500.gifv');
                background-size: 150%;
                background-position: center;
                transition: all ease-in-out .6s;
            }
        }
        .title {
            padding-bottom: 2vh;
            h1 {
                font-size: .85rem;
                padding-bottom: .2vh;
                line-height: 1.25rem;
                font-weight: 500;
            }
            p {
                line-height: initial;
            }
        }
        grid-area: 1 / 6 / 5 / 8;
        &:hover {
            .ill {
                transform: scale(.85);
                background-size: 100%;
            }
        }
    }
    .third {
        justify-content: center;
        align-items: center;
        .title {
            padding-bottom: 2vh;
            h1 {
                font-size: .85rem;
                padding-bottom: .2vh;
                line-height: 1.25rem;
                font-weight: 500;
            }
            p {
                line-height: initial;
            }
        }
        grid-area: 5 / 6 / 7 / 8;
        }
}

@media (max-width: 991.98px) {
    .wrapper {
        align-items: initial;
        .container{
            height: 80%;
            align-self: flex-end;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 2vh;
            margin-bottom: 2vh;
            .main, .second, .third {
                .title {
                    h1, h2 {
                        font-size: 1.75rem;
                        padding-bottom: 2vh;
                    }
                    p {
                        font-size: .85rem;
                        line-height: 2rem;
                    }
                }
               
            }
            .main {
                grid-area: 1 / 1 / 2 / 2;
                .title {
                    h1,p {
                        color: #F2F2F2;
                    }
                }
            }
            .second {
                grid-area: 2 / 1 / 3 / 2;
                flex-direction: row;
                .ill_wrapper {
                    .ill {
                        width: 30vw;
                        height: 30vw;
                    }
                }
                .title {
                    h1 {
                        font-size: 1.75rem;
                        line-height: 2rem;
                        padding-bottom: 2vh;
                    }
                }
            }
            .third {
                grid-area: 3 / 1 / 3 / 2;
                // .title {
                //     h1, h2 {
                //         font-size:;
                //     }
                //     p {
                //         font-size: .85rem;
                //         line-height: 2rem;
                //     }
                // }
            }
        }
    }
}